.header1 {
  background-color: rgb(197, 197, 197);
  height: 56px;
  width: auto;
}

.h1 {
  color: black;
  margin-left: 2%;
  padding: 1%;
}

.li {
  display: inline;
  float: left;
  border: 20px;
}

.li a {
  padding-left: 5px;
  padding-right: 50px;
  background-color: rgb(5, 2, 2);
  text-decoration: none;
  color: white;
  margin-right: 14px;
  margin-left: -44px;
  float: left;
  border-right: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
}

.li a:hover {
  background-color: green;
}

.ul {
  padding-top: -10px;
  margin-top: 0px;

  background-color: black;
  border-style: solid;
  border-right: 10px;

  display: flex;
}

.h2 {
  color: rgb(45, 45, 139);
}

.Body3 {
  display: flex;
  padding: 26px;
  margin-top: -41px;
}

.body4 {
  background-color: rgb(197, 197, 197);
  padding: 20px;
  margin-right: -25px;
}

.footer {
  background-color: rgb(180, 179, 179);
  height: 56px;
  width: auto;
  margin-top: -26px;
}

.h3 {
  color: rgb(45, 45, 139);
}

.footer1 {
  float: right;
}
